#two-updates {
    position: fixed;
    top: 0;
    left: 0vw;
    height: 100vh;
    width: 100%;

    background-color: black;
    border-left: 2px solid white;
    transition: all 0.5s ease-in-out;
}

.two-updates-inactive {
    left: 97vw !important;
    transition: all 0.75s ease-in-out;
    cursor: pointer;
}

#two-updates-container {
    margin-top: 8vh;
}

#two-updates-select-catagory {
    display: grid;
    grid-template-columns: auto auto auto;
}

#two-updates-select-catagory > button {
    height: fit-content;

    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
}