<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.css" />

    <link rel="stylesheet" href="css/landing/main.css" />
    <link rel="stylesheet" href="css/landing/info.css" />
    <link rel="stylesheet" href="css/landing/sides.css" />

    <link rel="stylesheet" href="css/mark/about.css" />
    <link rel="stylesheet" href="css/mark/header.css" />
    <link rel="stylesheet" href="css/mark/footer.css" />
    <link rel="stylesheet" href="css/mark/main.css" />
    <link rel="stylesheet" href="css/mark/services.css" />
    <link rel="stylesheet" href="css/mark/projects.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Keeble Siblings</title>
  </head>
  <body>
    <div id="body-container">
      <div id='landing-page'>
        <div id="info-container" class="active-display">
          <div
            class="side-info vert-centered active-display"
            id="jenna-side-info"
          >
            <h1>Jenna</h1>
            <div class="title-container">
              <ul>
                <li>Journalist</li>
                <li>Critic</li>
                <li>IDFK</li>
              </ul>
            </div>
          </div>
          <div class="side-info vert-centered active-display" id="mark-side-info">
            <h1>Mark</h1>
            <div class="title-container">
              <ul>
                <li>Software Dev.</li>
                <li>Producer</li>
                <li>IDFK</li>
              </ul>
            </div>
          </div>
        </div>
        <div id="landing-heading">
          <h1>Which Keeble's Work are you Interested In?</h1>
          <div id="button-wrapper">
            <button id="confirm-choice-button" class="inactive-display btn">
              Confirm
            </button>
            <button type="button" id="back-button" class="inactive-display btn">
              Back
            </button>
          </div>
        </div>
        <div id="side-select">
          <div id="jenna-side" class="side"></div>
          <div id="mark-side" class="side"></div>
        </div>
      </div>
      <div id="page-1" class="page inactive-display">
        <h1>Page 1</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          vitae feugiat urna. Praesent mollis pharetra lobortis. Curabitur
          sodales vel orci ut luctus. In hac habitasse platea dictumst. Proin
          vel tellus ut metus malesuada bibendum. Nunc hendrerit dapibus turpis,
          vitae molestie dolor suscipit id. Ut volutpat velit in tincidunt
          luctus. Ut rutrum semper auctor. Quisque ac lectus tellus. Duis
          aliquam eget nunc in imperdiet. Nulla tincidunt libero sapien, ut
          luctus purus suscipit in. Quisque eget mauris vel arcu vulputate
          fermentum. Phasellus ultrices vehicula nisl, sit amet tempor sapien
          feugiat in. Aliquam faucibus mi hendrerit mi lobortis facilisis. Nulla
          viverra arcu quis eros pretium, quis vehicula enim vestibulum.
        </p>
      </div>
      <div id="page-2" class="page inactive-display">
        <nav class="navbar navbar-inverse" id='two-nav'>
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#" id='two-home-name'>Mark Keeble</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="#" id='two-about-me-anchor'>About</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Updates
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Game Related Work</a></li>
                    <li><a href="#">Software Development</a></li>
                    <li><a href="#">Music Production</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="inactive-display"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li class="inactive-display"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div id="two-content" class="display-off">
          <header>
            <img src="#" id="two-header-img" />
            <div id="header-two-content">
              <div id="header-two-text">
                <h1>
                  Lorem ipsum dolor sit amet,
                  <span>consectetur</span> adipiscing elit.
                </h1>
                <h4><span>Suspendisse</span> vitae feugiat urna.</h4>
              </div>
            </div>
          </header>
          <div id="two-body-container">
            <a name='two-about-me'></a>
            <div id="two-intro">
              <div class="vert-centered">
                <h3>Who am I</h3>
                <h2><span>Mark Keeble</span>,</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Pellentesque eu malesuada ante. Nullam in mi tempor, volutpat
                  neque in, vulputate arcu. Donec iaculis varius ultrices.
                  Nullam in tristique sem. Mauris quis nunc pellentesque,
                  lacinia lorem a, consequat erat. Curabitur cursus eros ut
                  aliquet posuere. Orci varius natoque penatibus et magnis dis
                  parturient montes, nascetur ridiculus mus. Mauris lectus diam,
                  fermentum et sodales vel, facilisis non sapien. Maecenas
                  vehicula, ex ut ultricies semper, tellus urna finibus magna,
                  nec laoreet metus purus eget nibh.
                </p>
              </div>
              <img
                src="https://dummyimage.com/400x400/000/fff"
                class="vert-centered"
              />
            </div>
            <div id="two-services">
              <div id="two-services-selector">
                <a id='two-carousel-sd'>Software Development</a>
                <a id='two-carousel-gdd'>Game Design and Development</a>
                <a id='two-carousel-mp'>Music Production</a>
              </div>
              <div id='two-services-pane' class="container">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="item active">
                      <div class="two-services-item ">
                        <div class="two-services-blurb">
                          <h2>Software Development</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Pellentesque eu malesuada ante. Nullam in mi tempor, volutpat
                            neque in, vulputate arcu. Donec iaculis varius ultrices.
                            Nullam in tristique sem. Mauris quis nunc pellentesque,
                            lacinia lorem a, consequat erat. Curabitur cursus eros ut
                            aliquet posuere. Orci varius natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Mauris lectus diam,
                            fermentum et sodales vel, facilisis non sapien.
                          </p>
                        </div>
                        <img src="https://dummyimage.com/400x400/000/fff"/>
                      </div>
                    </div>
                    <div class="item">
                      <div class="two-services-item ">
                        <div class="two-services-blurb">
                          <h2>Game Design and Development</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Pellentesque eu malesuada ante. Nullam in mi tempor, volutpat
                            neque in, vulputate arcu. Donec iaculis varius ultrices.
                            Nullam in tristique sem. Mauris quis nunc pellentesque,
                            lacinia lorem a, consequat erat. Curabitur cursus eros ut
                            aliquet posuere. Orci varius natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Mauris lectus diam,
                            fermentum et sodales vel, facilisis non sapien.
                          </p>
                        </div>
                        <img src="https://dummyimage.com/400x400/000/fff"/>
                      </div>
                    </div>
                    <div class="item">
                      <div class="two-services-item ">
                        <div class="two-services-blurb">
                          <h2>Music Production</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Pellentesque eu malesuada ante. Nullam in mi tempor, volutpat
                            neque in, vulputate arcu. Donec iaculis varius ultrices.
                            Nullam in tristique sem. Mauris quis nunc pellentesque,
                            lacinia lorem a, consequat erat. Curabitur cursus eros ut
                            aliquet posuere. Orci varius natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Mauris lectus diam,
                            fermentum et sodales vel, facilisis non sapien.
                          </p>
                        </div>
                        <img src="https://dummyimage.com/400x400/000/fff"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer id="footer">
            <p id="devLine">Mark Keeble | BCIT CST Term 3 Student</p>
            <p>Cell: (1) 778-791-1392</p>
            <a id="emailLine" href="mailto:markkeeble14@gmail.com">markkeeble14@gmail.com</a>
            <div id="footerGrid">
              <a href="https://github.com/MarkKeeble14?tab=repositories" target="_blank"><img src="/images/github.png" class="footerGridIMG"></a>
              <a href="https://www.linkedin.com/in/markkeeble/" target="_blank"><img src="/images/li.png" class="footerGridIMG"></a>
              <a href="https://www.instagram.com/keeble.mark/" target="_blank"><img src="/images/ig.png" class="footerGridIMG"></a>
              <a href="https://twitter.com/Or1beau" target="_blank"><img src="/images/twit.png" class="footerGridIMG"></a>
            </div>
          </footer>
        </div>
        <div id='two-updates' class="two-updates-inactive">
          <div id='two-updates-container'>
            <div id='two-updates-select-catagory'>
              <button>Software Development</button>
              <button>Game Design and Development</button>
              <button>Music Production</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      let side = 0;
      $(window).on("load", function () {
        side = 1;
        $("#jenna-side").on("click", function () {
          $("#mark-side").addClass("slide-away");
          $("#jenna-side").addClass("slide-over");

          $("#jenna-side").removeClass("side");

          $("#mark-side-info").addClass("inactive-display");
          $("#mark-side-info").removeClass("active-display");

          $("#confirm-choice-button").removeClass("inactive-display");
          $("#confirm-choice-button").addClass("active-display");
          $("#back-button").removeClass("inactive-display");
          $("#back-button").addClass("active-display");
        });

        $("#mark-side").on("click", function () {
          side = 2;
          $("#jenna-side").addClass("slide-away");
          $("#mark-side").addClass("slide-over");

          $("#mark-side").removeClass("side");

          $("#jenna-side-info").addClass("inactive-display");
          $("#jenna-side-info").removeClass("active-display");

          $("#confirm-choice-button").removeClass("inactive-display");
          $("#confirm-choice-button").addClass("active-display");
          $("#back-button").removeClass("inactive-display");
          $("#back-button").addClass("active-display");
        });

        $("#back-button").on("click", function () {
          $("#mark-side").removeClass("slide-away");
          $("#jenna-side").removeClass("slide-over");
          $("#jenna-side").removeClass("slide-away");
          $("#mark-side").removeClass("slide-over");
          $("#jenna-side").addClass("side");
          $("#mark-side").addClass("side");

          $("#jenna-side-info").addClass("active-display");
          $("#mark-side-info").addClass("active-display");
          $("#jenna-side-info").removeClass("inactive-display");
          $("#mark-side-info").removeClass("inactive-display");

          $("#back-button").addClass("inactive-display");
          $("#back-button").removeClass("active-display");
          $("#confirm-choice-button").addClass("inactive-display");
          $("#confirm-choice-button").removeClass("active-display");

          side = 0;
        });

        $("#confirm-choice-button").on("click", function () {
          if (side != 0) {
            $("#jenna-side").addClass("inactive-display");
            $("#mark-side").addClass("inactive-display");

            $("#back-button").addClass("inactive-display");
            $("#back-button").removeClass("active-display");
            $("#confirm-choice-button").addClass("inactive-display");
            $("#confirm-choice-button").removeClass("active-display");

            $("#mark-side-info").removeClass("active-display");
            $("#mark-side-info").addClass("inactive-display");
            $("#jenna-side-info").removeClass("active-display");
            $("#jenna-side-info").addClass("inactive-display");

            $("#landing-heading").addClass("inactive-display");

            $("#page-" + side).addClass("active-display");
            $("#page-" + side).removeClass("inactive-display");
            $('#two-content').removeClass("display-off");
          }
        });

        $('.carousel').carousel('pause');
        $('#two-carousel-sd').on('click', function() {
          $('.carousel').carousel(0);
        });
        $('#two-carousel-gdd').on('click', function() {
          $('.carousel').carousel(1);
        });
        $('#two-carousel-mp').on('click', function() {
          $('.carousel').carousel(2);
        });

        $('#two-updates').on('click', function() {
          if ($('#two-updates').hasClass('two-updates-inactive')) {
            $('#two-updates').removeClass('two-updates-inactive');
          }
        });

        $('#two-home-name').on('click', function() {
          $('#two-updates').addClass('two-updates-inactive');
        });

        function scrollToAnchor(aid){
            var aTag = $("a[name='"+ aid +"']");
            $('html,body').animate({scrollTop: aTag.offset().top},'slow');
        }

        $('#two-about-me-anchor').on('click', function() {
          scrollToAnchor('two-about-me');
          $('#two-updates').addClass('two-updates-inactive');
        });
      });
    </script>
  </body>
</html>
